/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    font-family: Arial, Helvetica, sans-serif;

}

/* Chat containers */
#chat .container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    font-family: "Open Sans", serif;
}

/* Darker chat container */
#chat .darker {
    border-color: #fff;
    background-color: #009914;
    color: #fff;
}

/* Clear floats */
#chat .container::after {
    content: "";
    clear: both;
    display: table;
}

/* Style images */
#chat .container img {
    float: left;
    max-width: 60px;
    width: 100%;
    margin-right: 20px;
    border-radius: 50%;
}

    /* Style the right image */
    #chat .container img.right {
        float: right;
        margin-left: 20px;
        margin-right: 0;
    }