@{
    ViewData["Title"] = "Jobsity Chat app";
}

@model List<Message>
@{
    var userName = User.Identity.Name;
}

<div class="p-5 mb-4 bg-light rounded-3">
    <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Jobsity Chat App</h1>
    </div>
</div>

<div class="col-md-12">
    <div class="form-group mb-2">
        <label for="rooms">Room</label>
        <select id="rooms" name="rooms" onchange="onRoomChanged()" >
            <option selected value="1">room 1</option>
            <option value="2">room 2</option>
            <option value="3">room 3</option>
        </select>
    </div>

    <div class="form-group">
        <input name="Text" class=form-control id="messageText" value="" />
    </div>
    <div class="form-group">
        <input type="button" value="Send Message" id="submitButton" class="btn btn-primary mt-2 mb-2" />
    </div>
    <input type="hidden" value="@userName" name="username" />

</div>

<div class="row">
    <div class="col-md-12" id="chat">

    </div>
</div>

@if (User.Identity.IsAuthenticated)
{
    <script>
        const userName = "@ViewBag.CurrentUserName";
        var room = document.getElementById("rooms").value;
    </script>
}

@section scripts
{
<script src="~/js/chat.js"></script>
}
